*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height:100vh;
    background-color: rgb(164, 165, 165);
}
#diseño{
    width: 100%;
    height: 100%;
}
#primera{
    display: flex;
    flex-direction: row;
}
#busqueda{
    display: flex;
    background-color: rgb(11, 17, 17);
    width: 100%;
    height:13vh;

}
#menu{
    background-color: rgb(21, 34, 34);
    display: flex;
    width: 20%;
    height: 100vh;
    flex-direction: column;
    
}

#segunda{
    display: flex;
    flex-direction: column;
    
}

#contenido{
    width: 80%;
    height:100vh;
    background-color: rgb(30, 58, 58);

}
#bottRomance{
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 90, 90);
    margin-top: 40%;
    padding: 10%;
    border: solid 1px  rgb(30, 58, 58);
    border-radius: 28px;
    padding-left: 30%;
    padding-right: 30%;
    justify-content: center;
    align-items: center;

}
#bottSuspenso{
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 90, 90);
    margin-top: 10%;
    padding: 10%;
    border: solid 1px  rgb(30, 58, 58);
    border-radius: 28px;
    padding-left: 32%;
    padding-right: 32%;


}
#bottDrama{
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 90, 90);
    margin-top: 10%;
    padding: 10%;
    border: solid 1px  rgb(30, 58, 58);
    border-radius: 28px;
    padding-left: 34%;
    padding-right: 34%;

}
#bottNinos{
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 90, 90);
    margin-top: 10%;
    padding: 10%;
    border: solid 1px  rgb(30, 58, 58);
    border-radius: 28px;
    padding-left: 34%;
    padding-right: 34%;

}
#bottSuspenso{
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 90, 90);
    margin-top: 10%;
    padding: 10%;
    border: solid 1px  rgb(30, 58, 58);
    border-radius: 28px;
    padding-left: 30%;
    padding-right: 30%;

}
#bottCienciaFiccion{
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 90, 90);
    margin-top: 10%;
    padding: 10%;
    border: solid 1px  rgb(30, 58, 58);
    border-radius: 28px;
    padding-left: 30%;
    padding-right: 30%;

}